/* Mobiel responsive aanpassingen */
@media (max-width: 600px) {
    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .topnav a {
        font-size: 20px;
        margin: 8px 0; /* minder horizontale marge, meer verticale */
        padding: 12px 16px;
        width: 100%;
        box-sizing: border-box;
    }

    .logo-container {
        padding: 10px;
    }

    .logo-container img {
        max-width: 70px;

    }
    form
    {

    }
}



body
{
    margin: 0;
}


/* Achtergrond kleur navigatiebalk */
.topnav {
    background-color: #230f08;
    overflow: hidden;
    text-align: center;
}

/* het algemene uiterlijk van navigatiebalk */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-decoration: none;
    font-size: 24px;
}

/* hover kleur verandering */
.topnav a:hover {
    background-color: #232323;
    color: #c1afaf;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b; /* zoals in je schets */
    padding: 20px;
}

.logo-container img {
    max-width:100px; /* zorgt ervoor dat de afbeelding niet te groot wordt */
    height: auto;
}
